.cardBox {
  width: 300px;
}
.card {
  position: sticky;
  top: 0;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .btn {
    width: 42px;
    &.active {
      background: red;
      color: white;
    }
  }
}